.calendar {
  max-width: 800px;
  margin: 20px auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 105px;
  font-size: 35px;
  background-color: rgb(47, 234, 134);
}
.calendar-header button{
    background-color: transparent;
    color: white;
    font-size: 75px;
    border: 0px solid transparent;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: white;
}

.calendar-day-name {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.calendar-day {
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(47, 234, 134);
}

.calendar-day.today {
  background-color: #030303;
  color: white;
}

.empty {
  background-color: transparent;
  border: 0px solid transparent;
}
