.input_sub {
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  width: 1000px;
  display: flex;
  height: auto;
  margin-top: 15px;
}

.input_sub .container {
  width: 900px;
  margin: auto;
}

.input_sub .cardshowimage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #f6f6f6;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: border-color 0.3s;
  height: auto;
  width: fit-content;
  margin-left: -12px;
}
.input_sub .cardshowimage img {
  width: 900px;
  height: 250px;
}
.input_sub .cardshowimage:hover {
  border-color: #007bff;
}

.input_sub .default-profile-picture {
  color: #aaa;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.input_sub.box {
  margin-bottom: 15px;
}

.input_sub label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input_sub input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 35px;
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.input_sub textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 28px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  height: 125px;
  resize: none; /* Disable manual resizing */
  overflow-y: hidden; /* Hide vertical overflow */
  min-height: 50px;
}
.input_sub input[type="text"]:focus,
.input_sub textarea:focus {
  border-color: transparent;
  outline: none;
  background-color: transparent;
}

.input_sub button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.input_sub input[type="text"]::placeholder {
  color: #3d3d3d;
  opacity: 1;
  font-size: 35px;
  font-weight: bold;
}

.input_sub textarea::placeholder {
  color: #3d3d3d;
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
}
