/* Container styling for centering and layout */
.enrolle-container { /* Take full viewport height */
    background: linear-gradient(135deg, #4a90e2, #9013fe); /* Gradient background */
    padding: 20px;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  .enrole_deatails h2{
    font-size: 55px;
    color: white;
    font-weight: bold;
    margin-top: -10px;
  }
  .enrole_deatails{
    display: flex;
    margin: 10px;
  }
  .enrole_deatails p{
    font-size: 25px;
    font-weight: 100;
    margin-top: 100px;
    margin-left: 50px;
  }
  .enrole_deatails .showingcard{
    flex-direction: column;
  }
  .enrolle-container button{
    margin-left: 1400px;
    width: 250px;
    height: 55px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: #ff6a00;
    border: 2px solid green;
    border-radius: 25px;
    cursor: pointer;
  }
  .enrolle-container button:hover{
    background-color: #4a90e2;
  }
  .commengidelines h3{
    font-size: 30px;
  }
  .commengidelines p{
    font-size: 20px;
    margin-top: 10px;
  }
  .a {
    text-indent: 50px;
  }
  .b {
    text-indent: 100px;
  }
  .showingcard img{
    width: 450px;
    height: 450px;
  }