.home {
  background-color: rgb(58, 57, 60);
  margin: 0px;
}

.home .herobox {
  background-color: transparent;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 55px;
  font-weight: bold;
  overflow: hidden; 
}
.home .herobox h1 {
  margin-left: 45px;
  margin-top: -45px;
  font-family: "Merriweather", serif;
}

.home .herobox p {
  margin-top: -55px;
  font-size: 20px;
  margin-left: 45px;
}

.home .herobox img {
  width: 100%; 
  max-width: 650px; 
  height: auto; 
  margin-right: 20px; 
}

.navbar {
  z-index: 1000;
  position: relative;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home .herobox {
    flex-direction: column;
    height: auto;
  }

  .home .herobox img {
    width: 100%; 
    max-width: 100%; 
    margin: 0; 
  }

  .home .herobox h1,
  .home .herobox p {
    margin: 0 20px;
    text-align: center;
  }
}
.home h2{
  font-size: 35px;
  color: white;
  font-weight: bold;
  margin-left: 25px;
}